.banner-image {
    max-height: 100px;
    margin: 2em auto;
    border: 1px solid grey;
    border-radius: 12px;
}

.navbar-brand {
    font-size: 110%;
}

.footer {
    margin-top: 10em;
    text-align: center;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: white;
}

.qrcode {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-link {
    color: white;
}

.apppanel {
    min-height: 250px;
}

.app-dock {
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.app-icon {
    border: 1px solid grey;
    border-radius: 20%;
}

.app-dock-item {
    padding: 0px 5px 2px 5px;
}

.app-dock-item p {
    margin-bottom: 0px;
}

.app-dock-item p a {
    font-size: 95%;
    color: #555;
}

.app-dock-item p a:hover {
    text-decoration: none;
}

.app-dock-item p a img {
    width: 50px;
    display: block;
    margin: 0 auto;
}

.app-dock-item p a span {
    display: block;
    text-align: center;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .row.widget-box > .col-sm-6:nth-child(2n+3) {
        clear: both;
    }
    
    .app-dock {
        max-width: 50%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .row.widget-box > .col-md-4:nth-child(3n+4) {
        clear: both;
    }
    
    .app-dock {
        max-width: 50%;
    }
}