.banner-image {
    max-height: 100px;
    margin: 2em auto;
    border: 1px solid grey;
    border-radius: 12px;
}

.navbar-brand {
    font-size: 110%;
}

.footer {
    margin-top: 10em;
    text-align: center;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: white;
}

.qrcode {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-link {
    color: white;
}

.apppanel {
    min-height: 250px;
}

.row.widget-box > .col-md-4:nth-child(3n+4) {
    clear: both;
}