/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.app-icon {
    border: 1px solid grey;
    border-radius: 20%;
}

.app-dock-item {
    min-width: 100px;
}

.app-dock-item p a {
    font-size: 95%;
    color: #555;
}

.app-dock-item p a:hover {
    text-decoration: none;
}

.app-dock-item p a img {
    width: 50px;
    display: block;
    margin: 0 auto;
}