/*
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}